.head1{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.main-logo{
    border-radius: 50%;
    border: 2px solid #fff;
}

.modal_main_head{
    color: white; 
    background-color: #1269db;
}

.modal_main_CloseBtn{
    color: white;
}